html {
    font-size: 14px;
    font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', '본고딕', 'KoPubDotum Medium', '나눔바른고딕', '나눔고딕', NanumGothic, '맑은고딕', 'Malgun Gothic', Arial, Dotum, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.fb-warning {
    display: none;
}
body.fb * {
    display: none;
}
body.fb div.fb-warning {
    display: block;
    margin-top: 3rem;
    text-align: center;
}

#map {
    height: 100%;
}

.links {
    position: absolute;
    left: 0.5rem;
    bottom: 1rem;
    margin: 0;
    padding: 0;
}

.links li {
    list-style-type: none;
    display: block;
    float: left;
}

.links li a {
    padding: 0.5rem 1rem;
    color: #FFF;
}

#ignite {
    text-transform: uppercase;
    background-color: #FFF;
    color: #000;
    border: 2px solid #000;
    text-decoration: none;
}

#ignite .until {
    display: inline-block;
    width: 3rem;
    margin-left: 0.5rem;
}

#ignite.ignited {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #FF4136;
  }
  100% {
    background-color: #FFFFFF;
  }
}
